body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px;
}

div {
    background-color: #b0b0b0;
    display: flex;
}

.grid-bloco {
    max-width: 1000px;
    width: 90%;
    margin-left: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding: 10px;
}

header {
    margin: 0;
    padding: 0;
    color: #f4f4f4;
}

a {
    color: #f4f4f4;
    text-decoration: none;
}

header {
    background-color: #333;
}

nav {
    background-color: #333;
    text-align: center;
}

footer {
    background-color: #333;
    text-align: center;
    color: #f4f4f4;
}

article {
    background-color: #d1d1d1;
    max-width: 1000px;
    width: 90%;
    padding: 10px;
}

figure {
    margin: 0;
}

nav ul {
    display: flex;
}

@media (max-width: 768px) {
    body {
        translate: -100px
    };
}

@media (max-width: 900px) {
    .bloco {
        flex-wrap: wrap;
        justify-content: center;
    }
}